/** Extra small devices (phones, 600px and down) */
$xs: "screen and (max-width: 600px)";
/** Small devices (portrait tablets and large phones, 601px to 768px) */
$sm: 'screen and (min-width: 601px) and (max-width: 768px)';
/** Medium devices (landscape tablets, 769px to 991px) */
$md: 'screen and (min-width: 769px) and (max-width: 991px)';
/** Large devices (laptops/desktops, 992px to 1200px) */
$lg: 'screen and (min-width: 992px) and (max-width: 1200px)';
/** Extra large devices (large laptops and desktops, 1201px and up) */
$xl: 'screen and (min-width: 1201px)';
// The mdia mixin
@mixin media( $selectors... ) {
  $selector: '';
  @each $s in $selectors {
    @if $selector == '' {
      $selector: $s;
    } @else {
      $selector: $selector + ', ' + $s;
    }
  }
  @media #{unquote($selector)}{
    @content;
  }
}

$primary_color: #7367F0;
$background: #fff;
$past_background: rgb(250, 250, 250);
$not_current_month_background: rgb(236, 236, 236);
$days_header_color: #626262;

$event_blue: #42b983;

$border_color: #ddd;
$calendar_border: 1px solid $border_color;

@mixin calendar-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@mixin calendar-cell {
  width: 100%;
  overflow: hidden;
  padding: 0.5rem;
  border-right: $calendar_border;
  border-top: $calendar_border;
  user-select: none;
  background: $background;

  &:last-child {
    border-left: $calendar_border;
  }
}

@mixin shadow-text {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#persian-calendar {
  font: inherit;
  font-size: 14px;
  direction: rtl;

  #vpc_header {
    padding: 20px 15px;

    #vpc_date-control {
      display: flex;
      justify-content: flex-start;
      font-size: 1rem;

      .vpc_control-btn {
        width: 1rem;
        height: 1rem;
        padding: 0.3rem;
        border-radius: 9999px !important;
        cursor: pointer !important;
        background-color: $primary_color !important;
        color: #fff !important;
      }

      .vpc_now-date {
        margin: auto .75rem;
        white-space: nowrap;
      }

      .vpc_today-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        height: 1.3rem;
        line-height: 1rem;
        vertical-align: middle;
        padding: 0.2rem 1.2rem;
        border-radius: 15px !important;
        cursor: pointer !important;
        background-color: $primary_color !important;
        color: #fff !important;
      }
    }
  }

  #vpc_calendar {
    border-radius: 15px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1);

    #vpc_days-header {
      @include calendar-row;

      div {
        @include calendar-cell;
        color: $days_header_color;
        font-size: 0.9rem;
        line-height: 0.6rem;
        text-align: center;
        cursor: default;

        &:first-child {
          border-top-right-radius: 15px;
        }

        &:last-child {
          border-top-left-radius: 15px;
        }
      }
    }

    .vpc_week {
      @include calendar-row;

      .vpc_day {
        @include calendar-cell;
        font-weight: bold;
        height: 120px;
        cursor: default;

        &.vpc_past {
          background-color: $past_background;

          .vpc_day-number span {
            @include shadow-text;
          }
        }

        &.vpc_not-current-month {
          background-color: $not_current_month_background;

          .vpc_day-number span {
            @include shadow-text;
          }
        }

        &.vpc_today div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 9999px !important;
          background-color: $primary_color !important;
          color: #fff !important;
          text-align: center;
        }

        .vpc_event-list {
          font-size: 0.8rem;
          color: $event_blue;
          font-weight: bold;
          list-style: none;
          padding: 0;
          margin: 0.5rem 0 0.5rem 0;

          li {
            white-space: nowrap;
          }
        }
      }

      &:last-child {
        .vpc_day {
          border-bottom: $calendar_border;

          &:first-child {
            border-bottom-right-radius: 15px;
          }

          &:last-child {
            border-bottom-left-radius: 15px;
          }
        }
      }
    }
  }

  .slide-left-enter-active, .slide-right-enter-active {
    transition: all .2s ease;
  }

  .slide-left-leave-active, .slide-right-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-left-enter, .slide-right-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .slide-left-leave-to, .slide-right-enter {
    transform: translateX(-10px);
    opacity: 0;
  }

}
